<!-- wp:template-part {"slug":"header","tagName":"div","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
<!-- wp:cobbleandcandle/page-hero {"art":"room","align":"full"} /-->

<!-- wp:group {"align":"full","className":"section shop-checkout","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull section shop-checkout"><!-- wp:group {"className":"container","layout":{"type":"default"}} -->
<div class="wp-block-group container"><!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:woocommerce/store-notices /-->

<!-- wp:post-content {"layout":{"type":"default"}} /-->
<!-- /wp:woocommerce/page-content-wrapper --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div","area":"footer"} /-->
